<ion-header>
    <ion-navbar color="dark">
        <ion-title>DU HAST DEINEN STIL GEFUNDEN</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item class="title-item">
            <h2 text-center>{{item.style}}
                <small *ngIf="beers.length > 0">({{beers.length}})</small>
            </h2>
        </ion-item>
        <ion-item *ngFor="let beer of beers" (click)="viewBeer(beer)">
            <ion-thumbnail item-left>
                <img [src]="beer.labels?.icon">
            </ion-thumbnail>
            <h2>{{beer.name}}</h2>
            <p>{{beer.description}}</p>
        </ion-item>
    </ion-list>
</ion-content>
