<ion-header>
    <ion-navbar color="dark">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>ABOUT</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-card-title>WHAT THE BEER</ion-card-title>
            <img src="/assets/images/craft-beers.jpg">
            <p style="margin-top: 2em;">Idee, Konzept und Implementation by</p>
            <h2 style="margin-top: 1.5em;">
                <ion-icon name="ios-play-outline" style="margin-right: 1em;"></ion-icon>
                FHNW - Fachhochschule Nordwestschweiz
            </h2>
            <h2 style="margin-top: 1em;">
                <ion-icon name="ios-play-outline" style="margin-right: 1em;"></ion-icon>
                WS6C - Mobile App Development 2017
            </h2>
            <h2 style="margin-top: 1em;">
                <ion-icon name="ios-play-outline" style="margin-right: 1em;"></ion-icon>
                Matthias Langhard & Heimo Paffhausen
            </h2>
        </ion-card-content>
    </ion-card>
</ion-content>
