<ion-header>
    <ion-navbar color="dark">
        <ion-title *ngIf="!isLoading">{{beer.name}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-card *ngIf="!isLoading">
        <img [src]="beer.labels?.medium" (load)="imageLoaded()">
        <div style="text-align: center">
            <ion-spinner *ngIf="!imageHasLoaded"></ion-spinner>
        </div>
        <ion-card-content>
            <ion-card-title>
                <ion-row>
                    <ion-col col-10>
                        {{beer.name}}
                    </ion-col>
                    <ion-col col-2>
                        <ion-icon *ngIf="!isFavorite" name="ios-heart-outline" (click)="toggleFavorite()"></ion-icon>
                        <ion-icon *ngIf="isFavorite" name="ios-heart" (click)="toggleFavorite()"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-card-title>
            <p>{{beer.description}}</p>
            <h2 style="margin-top: 1em; padding-left: 5px;">Meine Notizen</h2>
            <ion-textarea [value]="note" [formControl]="noteControl" style="border: 1px solid #f4f4f4" rows="5"></ion-textarea>
        </ion-card-content>
    </ion-card>
</ion-content>
