.title-item {
    background-color: $color-purple;
}

.img-loaded + ion-spinner {
    display: none;
}

.toast {
    > div {
        background-color: #C3DEB7 !important;
    }
}

.toast-message {
    color: #4A4A4A !important;
}
