// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i');

//Colors
$color-green: #B7E87D;
$color-yellow: #E5D97D;
$color-orange: #C99F5E;
$color-red: #C46E5C;
$color-purple: #A25175;
$color-purple-med: #93445E;
$color-purple-dark: #3F344D;
$color-dark: #4A4A4A;

// Main Colors
$color-hoppy: $color-yellow;
$color-balanced: $color-orange;
$color-malty: $color-red;
$color-tart: $color-purple;

// Font Colors
$color-font-hoppy: $color-balanced;
$color-font-balanced: $color-malty;
$color-font-malty: $color-purple-med;
$color-font-tart: $color-purple-dark;

//Style ELements
$color-title-bar: $color-dark;

//Some global styles
* {
  font-family: 'Rubik', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.toolbar-title-md {
  text-align: center;
  font-weight: 700;}

.card-title-md {
  font-weight: 700;
}

.content-md {
  background-color: #ecf0f1
}
